input {
  &[type="text"],
  &[type="email"] {
    border: 0.1rem solid rgba($color: $color_black, $alpha: 0.2);
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
