.page {
  .page-wrapper {
    &.no-sidebar {
      max-width: 80rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include resMinWidth("lg") {
  .page {
    .page-wrapper {
      &.with-sidebar {
        display: flex;
        justify-content: space-between;
        .page-content {
          flex-basis: calc(60% - 2rem);
        }
        .page-sidebar {
          flex-basis: calc(40% - 2rem);
        }
      }
    }
  }
}