.page{
  &.no-sidebars{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
  &.with-sidebars{
    
  }
}

@include res('md'){
  .page {
    &.with-sidebars{
      display: flex;
      justify-content: space-between;
    }
  }
}