.layout-footer {
  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.2rem solid $color_light_grey;
    padding-top: 6rem;
    padding-bottom: 6rem;
    .main-menu {
      .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin-right: 3rem;
          &.current_page_item {
            border-bottom: 0.3rem solid $color_primary;
          }
          &:not(:first-child) {
            margin-left: 3rem;
          }
        }
      }
    }
  }
}

@include resMaxWidth("md") {
  .layout-footer {
    .footer-wrapper {
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .main-menu {
        margin-bottom: 2rem;
        .menu {
          flex-flow: column;
          li {
            text-align: center;
            margin-right: 0 !important;
            margin-left: 0 !important;
          }
        }
      }
      .copyright-text {
        text-align: center;
        white-space: pre-wrap;
      }
    }
  }
}
