.layout-header {
  background-color: $color_dark_grey;
  padding-top: 3rem;
  padding-bottom: 3rem;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .layout-logo-wrapper{
      a{
        display: block;
        img{
          min-width: 15rem;
          max-width: 15rem;
        }
      }
    }
    .layout-navigation {
      width: 100%;
      .main-menu {
        .menu {
          display: flex;
          justify-content: flex-end;
          align-content: center;
          li {
            margin-left: 3rem;
            &.current_page_item{
              border-bottom: .3rem solid $color_primary;
            }
            &:not(:last-child) {
              margin-right: 3rem;
            }            
          }
        }
      }
    }
  }
}

@include resMaxWidth('md'){
  .layout-header {
    .header-wrapper{
      margin-top: 2rem;
      justify-content: center;
      .layout-navigation{
        display: none;
      }
    }
  }
}